.category-btn-site,
.new-arrival-btn-site,
.suggested-product-btn-site {
  color: #ffffff;
  padding: 10px;
}
.category-btn-site:hover,
.new-arrival-btn-site:hover,
.suggested-product-btn-site:hover {
  color: #3d3d3f;
  background-color: #ffffff;
}

.btn-home-go-to-categories-products,
.btn-remove-favourite-item {
  margin-top: 20px;
  background-color: #ffffff;
  color: #3d3d3f;
  font-weight: bold;
}

.btn-home-go-to-categories-products:hover,
.btn-remove-favourite-item:hover {
  color: #ffffff;
  background: rgb(252, 162, 112);
  background: linear-gradient(
    212deg,
    rgba(252, 162, 112, 1) 0%,
    rgba(254, 115, 96, 1) 100%
  );
}
