.home-card {
  width: 100%;
  text-decoration: none;
  border: none;
  border-radius: 0%;
}

.image-box img {
  width: 150px;
  transition: all 0.3s;
  display: block;
  height: 150px;
  transform: scale(1);
  -webkit-filter: drop-shadow(5px 5px 5px #222222);
  filter: drop-shadow(5px 5px 5px #222222);
}
.image-box:hover img {
  transform: scale(1.1);
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.top-card {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 14px;
}

.card-shoe-category {
  color: #fff;
  padding: 5px;
}

.card-tag {
  background-color: #fc776e;
  padding: 5px 7px;
  border-radius: 20px;
  color: #fff;
}

.featured-card-begin,
.categories-card,
.collection-card-begin,
.new-arrivals-card,
.suggested-product-card {
  background-color: #4e4e50;
}
.favourite-card,
.search-list-card {
  border-radius: 5%;
  padding: 10px;
  background-color: #38383a;
  -webkit-box-shadow: 9px 11px 40px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 11px 40px -19px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 11px 40px -19px rgba(0, 0, 0, 0.75);
}

.featured-card-middle,
.collection-card-middle,
.new-arrivals-card-even,
.suggested-product-card-even {
  background-color: #38383a;
}

.featured-card-last {
  background: rgb(252, 162, 112);
  background: linear-gradient(
    212deg,
    rgba(252, 162, 112, 1) 0%,
    rgba(254, 115, 96, 1) 100%
  );
}

.featured-card-last > .top-card > .card-tag {
  background-color: #38383a;
}
.populars-image-box img {
  width: 200px;
  transition: all 0.3s;
  display: block;
  height: 200px;
  transform: scale(1);
  -webkit-filter: drop-shadow(5px 5px 5px #222222);
  filter: drop-shadow(5px 5px 5px #222222);
}

.populars-center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.populars-card-slide {
  background-image: url('https://i.pinimg.com/474x/a9/75/7b/a9757bc7b53610cc153b79bcb830da8d.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .featured-card,
  .collection-card,
  .favourite-card,
  .cart-card,
  .search-list-card {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    padding: 10px;
  }
}
