.product-name-on-card {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  max-height: 30px;
  height: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
}
.product-price-on-card {
  color: #fff;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
}
